# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.production

# Builds
frontend/dist
frontend/build
backend/dist

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
